
#simplebrainzhead {
  background-color:#2F4F4F;
  color: white;
  text-shadow: 1px .5px #2F4F4F
}

.body {
  background-color: #778899;
}



#pageloader 
{
    position:absolute;
    width:100%;
    height:100%;
    text-align: center; 
}

.Centerer
{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.Centered
{
    display: inline-block;
    vertical-align: middle;
}

/*
#result {
  background-color: #EEE8AA;
}
*/

#filtermodule {
  float:left;
  width:620px;
  height:50px;
}

/* add footer-style*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}


.node .type1 {
  fill:#690011;
}
.node .type2 {
  fill:#BF0426;
}


