


#simplebrainzhead {
  background-color:#2F4F4F;
  font-family: Helvetica;
  font-size: 2px;
  font-variant: normal;
  color: white;
}

/*
#result {
  background-color: #EEE8AA;
}
*/

#dropdown *{
  vertical-align: middle;
}



#filtermodule {
  position:absolute; top:190px; left:10px;
  vertical-align: middle;
  width:290px;
  height:50px;
}

/* add footer-style*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: white;
    text-align: center;
}


#pageloader 
{
    position:absolute;
    width:100%;
    height:100%;
    text-align: center; 
}


.Centerer
{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}


.Centered
{
    display: inline-block;
    vertical-align: middle;
}



.node .type1 {
  fill:#690011;
}
.node .type2 {
  fill:#BF0426;
}


